.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > .loader-image {
    width: 50px;
    aspect-ratio: 1;
    background: var(--secondary);
    border-radius: 50%;
    animation: l1 3s infinite linear;
    margin: 0 30px 18px 0;
  }

  & > .loader-text {
    color: var(--secondary);
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l4 1s steps(4) infinite;
  }
  & > .loader-text:before {
    content:"Loading..."
  }
}


@keyframes l1{
  12.5% {border-radius: 37% 63% 70% 30% / 30% 62% 38% 70%}
  25%   {border-radius: 50% 50% 70% 30% / 52% 62% 38% 48%}
  37.5% {border-radius: 33% 67% 18% 82% / 52% 75% 25% 48%}
  50%   {border-radius: 73% 27% 18% 82% / 52% 32% 68% 48%}
  62.5% {border-radius: 73% 27% 74% 26% / 64% 32% 68% 36%}
  75%   {border-radius: 84% 16% 15% 85% / 55% 79% 21% 45%}
  87.5% {border-radius: 12% 88% 69% 31% / 10% 66% 34% 90%}
}


@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}