.about-landing {
  &.mdx-content {
    padding-top: 0;

    & > p {
      &:first-child {
        margin-top: 0;
      }
      margin: 20px 0;
    }

    & > ul {
      & > li {
        margin-bottom: 16px;
      }
    }
  }
}