:root {
  --background: #FFFAF0;
  --primary: #133E87;
  --secondary: #608BC1;
  --text-primary: #3D3D3D;
  --dark-background: #d8c4b6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFAF0;
    --primary: #133E87;
    --secondary: #608BC1;
    --text-primary: #3D3D3D;
    --dark-background: #d8c4b6;
  }
}


html {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  max-width: 680px;
  width: 100%;
  padding: 0 18px;
  align-items: flex-start;
  overflow-x: hidden;
  color: var(--text-primary);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.2;
}

::selection {
	background: #d8c4b6;
	color: #3D3D3D;
}
::-moz-selection {
	background: #d8c4b6;
	color:  #3D3D3D;
}

main {
  padding: 20px 0 60px 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
