header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > nav {
    display: flex;
    width: 90%;
    padding: 16px 0;

    & > .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 28px;
    
      & > img {
        margin-right: 5px;
      }
    
      & > h2 {
        color: var(--primary);
      }
    }

    & > .links {
      display: flex;
      justify-content: center;
      align-items: center;
    
      & > a {
        color: var(--secondary);
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    
        &:not(:last-child) {
          margin-right: 20px;
        }
    
        &:hover {
          opacity: 0.8;
        }

        &.isActive {
          color: var(--primary);
          font-weight: 600;
        }
      }
    }
  }
}