.custom-header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;

  & > nav {
    display: flex;
    padding: 16px 0;
    width: 100%;

    @media (max-width: 600px) {
      justify-content: space-between;
      align-items: center;
    }

    & > .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-right: 28px;
    
      & > img {
        margin-right: 5px;
      }
    
      & > h2 {
        color: var(--primary);
      }
    }

    & > .desktop-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    
      & > a {
        color: var(--secondary);
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    
        &:hover {
          opacity: 0.8;
        }
  
        &.isActive {
          color: var(--primary);
          font-weight: 600;
        }

        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}