.blog-insert-image {
  margin: 12px auto;

  & > .image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  & > .description {
    font-size: 16px;
    text-align: center;
    margin-top: 6px;
  }

  & + .blog-insert-image {
    margin: 0 auto 6px;
  }
}