.blog-article {
  // Header Section
  & > header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > h1 {
      color: var(--primary);
      padding-bottom: 5px;
      font-size: 32px;
    }

    & > .info {
      font-size: 16px;
      padding: 12px 0;

      & > .divider {
        color: var(--dark-background);
        margin: 0 6px;
      }
    }

    & > .reading-time {
      font-size: 16px;
    }

    & > .description {
      width: 100%;

      & > p {
        font-size: 18px;
        color: var(--text-primary);
        padding: 16px 0;
      }

      & > .line {
        height: 1px;
        background-color: var(--dark-background);
      }
    }
  }

  .english {
    p {
      line-height: 1.4;
      letter-spacing: 0;
    }
  }
}

  // Content Section
  .mdx-content {
    padding-top: 12px;
    font-size: 18px;

    // Headings
    & > h2 {
      font-size: 1.5rem;
      padding-left: 1rem;
      line-height: 1.6;
      font-weight: 500;
      position: relative;
      margin:  1.5rem 0 1.1rem;
      border-left: 0.5rem solid var(--primary);
    }

    & > h3,
    & > h4 {
      margin: 1.1rem 0;
    }

    // Paragraph
    & > p {
      font-size: 18px;
      line-height: 1.5;
      margin: 20px 0;
      padding-right: 0;
      vertical-align: baseline;
      text-align: justify;

      // Inline code in paragraph
      & > code {
        background-color: #f8fafc;
        border: 1px solid #e2e8f0;
        border-radius: 0.375rem;
        color: var(--primary);
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
        padding: 0 0.375rem;
      }
    }

    // Images in paragraph
    & p:has(img) {
      display: flex;
      justify-content: center;
    }

    // Lists
    & > ul, ol {
      padding-left: 40px;
      margin: 16px 0;

      & > li {
        margin-bottom: 10px;
      }
    }

    // Line
    & > hr {
      display: block;
      width: 15%;
      margin: 48px auto;
      border: none; /* 清除任何預設邊框 */
      border-top: 5px dotted var(--dark-background); /* 僅設置上邊框 */
    }

    // Blockquote
    & > blockquote {
      font-style: italic;
      margin: 20px 0;
      padding: 20px;
      position: relative;
      color: #908a8a;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 6px;

      & > p {
        padding: 16px;
      }
    }
    
    & > blockquote::before {
      font-style: normal;
      content: "“";
      font-size: 48px;
      color: var(--secondary);
      position: absolute;
      top: -5px;
      left: -5px;
    }
    
    & > blockquote::after {
      font-style: normal;
      content: "”"; 
      font-size: 48px;
      color: var(--secondary); 
      position: absolute;
      bottom: -30px;
      right: 10px;
    }
  }

pre {
  overflow-x: auto;
}

code {
  padding: 20px;
  font-size: 16px;
}